<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911777717098-ognb6vbh8v7e43i0g6iqjrkht86rabo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911777717098-ognb6vbh8v7e43i0g6iqjrkht86rabo3</string>
	<key>API_KEY</key>
	<string>AIzaSyAiT16XIw6nL7ccTV_oJme61utNUD-xpU0</string>
	<key>GCM_SENDER_ID</key>
	<string>911777717098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emrekonukpay.FotografPaylasmaUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasmauygulama-55f81</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasmauygulama-55f81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911777717098:ios:333cabe15dbc9c43e9a313</string>
</dict>
</plist>